$white: #FFFFFF;
$color_button: #FF4E50;
$primary: #444444;
$secondary: #666666;
$footer_color_text: #999999;
$footer_color_title: #CCCCCC;
$bg_1: #FF4E50;
$bg_2: #19D4CA;
$bg_3: #FFA710;
$bg_4: #667DF3;

$font_400: 'Montserrat 400';
$font_700: 'Montserrat 700';
$font_300: 'Roboto 300';

$media-xl: 1280px;
$media-lg: 992px;
$media-md: 769px;
$media-sm: 576px;

